In [52]:
import pandas as pd
import numpy as np
import os, time,json
import tmdbsimple as tmdb
from tqdm.notebook import tqdm_notebook
import matplotlib.pyplot as plt
import seaborn as sns
import matplotlib as mpl

import warnings
warnings.filterwarnings('ignore')

In [3]:
pip install --upgrade pandas

Requirement already satisfied: pandas in c:\users\admin\anaconda3\envs\dojo-env\lib\site-packages (2.1.0)
Requirement already satisfied: pytz>=2020.1 in c:\users\admin\anaconda3\envs\dojo-env\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\admin\anaconda3\envs\dojo-env\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: numpy>=1.22.4 in c:\users\admin\anaconda3\envs\dojo-env\lib\site-packages (from pandas) (1.23.4)
Requirement already satisfied: tzdata>=2022.1 in c:\users\admin\anaconda3\envs\dojo-env\lib\site-packages (from pandas) (2022.7)
Requirement already satisfied: six>=1.5 in c:\users\admin\anaconda3\envs\dojo-env\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [1]:
# example making new folder with os
import os
os.makedirs('Data/',exist_ok=True) # Confirm folder created
os.listdir("Data/")

['.ipynb_checkpoints',
 'akas_compressed.csv.gz',
 'akas_compressed_cleaned.csv.gz',
 'basics_compressed.csv.gz',
 'basics_compressed_cleaned.csv.gz',
 'Exploratory Data Analysis Years 2000 and 2001.ipynb',
 'ratings_compressed.csv.gz',
 'ratings_compressed_cleaned.csv.gz',
 'title-akas-us-only.csv',
 'title.basics (1).tsv.gz',
 'title.ratings (1).tsv.gz']

# Load API login Key

# Load Data

In [4]:
#Import title basics dataset
basics_url = 'https://datasets.imdbws.com/title.basics.tsv.gz'

basics = pd.read_csv(basics_url, sep='\t', low_memory=False)

In [5]:
# Import akas dataset
akas_url = r"C:\Users\admin\Documents\GitHub\IMDB-Movies-Analysis\Data\title-akas-us-only.csv"


akas = pd.read_csv(akas_url, low_memory= False)

In [6]:
# Import ratings dataset
ratings_url = "https://datasets.imdbws.com/title.ratings.tsv.gz"

ratings = pd.read_csv(ratings_url, sep="\t", low_memory= False)

In [7]:
# Create a copy of each dataset
basics2 = basics.copy()
akas2 = akas.copy()
ratings2 = ratings.copy()

# Explore Data

In [8]:
basics.head(15)

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0000001,short,Carmencita,Carmencita,0,1894,\N,1,"Documentary,Short"
1,tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0,1892,\N,5,"Animation,Short"
2,tt0000003,short,Pauvre Pierrot,Pauvre Pierrot,0,1892,\N,4,"Animation,Comedy,Romance"
3,tt0000004,short,Un bon bock,Un bon bock,0,1892,\N,12,"Animation,Short"
4,tt0000005,short,Blacksmith Scene,Blacksmith Scene,0,1893,\N,1,"Comedy,Short"
5,tt0000006,short,Chinese Opium Den,Chinese Opium Den,0,1894,\N,1,Short
6,tt0000007,short,Corbett and Courtney Before the Kinetograph,Corbett and Courtney Before the Kinetograph,0,1894,\N,1,"Short,Sport"
7,tt0000008,short,Edison Kinetoscopic Record of a Sneeze,Edison Kinetoscopic Record of a Sneeze,0,1894,\N,1,"Documentary,Short"
8,tt0000009,movie,Miss Jerry,Miss Jerry,0,1894,\N,45,Romance
9,tt0000010,short,Leaving the Factory,La sortie de l'usine Lumière à Lyon,0,1895,\N,1,"Documentary,Short"
10,tt0000011,short,Akrobatisches Potpourri,Akrobatisches Potpourri,0,1895,\N,1,"Documentary,Short"
11,tt0000012,short,The Arrival of a Train,L'arrivée d'un train à La Ciotat,0,1896,\N,1,"Documentary,Short"
12,tt0000013,short,The Photographical Congress Arrives in Lyon,Le débarquement du congrès de photographie à Lyon,0,1895,\N,1,"Documentary,Short"
13,tt0000014,short,The Waterer Watered,L'arroseur arrosé,0,1895,\N,1,"Comedy,Short"
14,tt0000015,short,Autour d'une cabine,Autour d'une cabine,0,1894,\N,2,"Animation,Short"

In [9]:
ratings.head(30)

       tconst  averageRating  numVotes
0   tt0000001            5.7      1990
1   tt0000002            5.8       265
2   tt0000003            6.5      1867
3   tt0000004            5.5       177
4   tt0000005            6.2      2654
5   tt0000006            5.0       182
6   tt0000007            5.4       830
7   tt0000008            5.4      2131
8   tt0000009            5.3       205
9   tt0000010            6.9      7262
10  tt0000011            5.2       370
11  tt0000012            7.4     12406
12  tt0000013            5.7      1899
13  tt0000014            7.1      5582
14  tt0000015            6.2      1105
15  tt0000016            5.9      1522
16  tt0000017            4.6       330
17  tt0000018            5.3       605
18  tt0000019            5.1        31
19  tt0000020            4.8       363
20  tt0000022            5.1      1105
21  tt0000023            5.7      1448
22  tt0000024            4.2       118
23  tt0000025            3.9        45
24  tt0000026            5.6      1555
25  tt0000027            5.6      1167
26  tt0000028            5.1      1094
27  tt0000029            5.9      3396
28  tt0000030            5.2       858
29  tt0000031            5.5      1012

In [10]:
akas.head(15)

,titleId,ordering,title,region,language,types,attributes,isOriginalTitle
0,tt0000001,6,Carmencita,US,\N,imdbDisplay,\N,0
1,tt0000002,7,The Clown and His Dogs,US,\N,\N,literal English title,0
2,tt0000005,10,Blacksmith Scene,US,\N,imdbDisplay,\N,0
3,tt0000005,1,Blacksmithing Scene,US,\N,alternative,\N,0
4,tt0000005,6,Blacksmith Scene #1,US,\N,alternative,\N,0
5,tt0000005,7,Blacksmithing,US,\N,\N,informal alternative title,0
6,tt0000006,3,Chinese Opium Den,US,\N,imdbDisplay,\N,0
7,tt0000007,1,Corbett and Courtney Before the Kinetograph,US,\N,imdbDisplay,\N,0
8,tt0000007,5,The Corbett-Courtney Fight,US,\N,alternative,\N,0
9,tt0000007,6,Jim Corbett vs. Peter Courtney,US,\N,alternative,\N,0
10,tt0000008,3,"Edison Kinetoscopic Record of a Sneeze, Januar...",US,\N,\N,complete title,0
11,tt0000008,4,Edison Kinetoscopic Record of a Sneeze,US,\N,imdbDisplay,\N,0
12,tt0000008,8,The Films of Thomas A Edison presented by Raym...,US,\N,\N,reissue title,0
13,tt0000009,5,Miss Jerry,US,\N,imdbDisplay,\N,0
14,tt0000010,16,Exiting the Factory,US,\N,imdbDisplay,\N,0

In [11]:
basics.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10122745 entries, 0 to 10122744
Data columns (total 9 columns):
 #   Column          Dtype
---  ------          -----
 0   tconst          object
 1   titleType       object
 2   primaryTitle    object
 3   originalTitle   object
 4   isAdult         object
 5   startYear       object
 6   endYear         object
 7   runtimeMinutes  object
 8   genres          object
dtypes: object(9)
memory usage: 695.1+ MB

In [12]:
akas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1452564 entries, 0 to 1452563
Data columns (total 8 columns):
 #   Column           Non-Null Count    Dtype
---  ------           --------------    -----
 0   titleId          1452564 non-null  object
 1   ordering         1452564 non-null  int64
 2   title            1452562 non-null  object
 3   region           1452564 non-null  object
 4   language         1452564 non-null  object
 5   types            1452564 non-null  object
 6   attributes       1452564 non-null  object
 7   isOriginalTitle  1452564 non-null  object
dtypes: int64(1), object(7)
memory usage: 88.7+ MB

In [13]:
ratings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1343715 entries, 0 to 1343714
Data columns (total 3 columns):
 #   Column         Non-Null Count    Dtype
---  ------         --------------    -----
 0   tconst         1343715 non-null  object
 1   averageRating  1343715 non-null  float64
 2   numVotes       1343715 non-null  int64
dtypes: float64(1), int64(1), object(1)
memory usage: 30.8+ MB

In [14]:
# Replace "\N" with np.nan
akas.replace("\\N", np.nan, inplace=True)
basics.replace("\\N", np.nan, inplace=True)
ratings.replace("\\N", np.nan, inplace=True)

In [15]:
# Filter the basics table down to only include the US by using the filter akas dataframe
keepers =basics['tconst'].isin(akas['titleId'])
keepers

0            True
1            True
2           False
3           False
4            True
            ...
10122740    False
10122741    False
10122742    False
10122743    False
10122744    False
Name: tconst, Length: 10122745, dtype: bool

In [16]:
# Filter the basics DataFrame to keep only titles also listed in the US filtered akas
basics = basics[keepers]

In [17]:
# Drop NAs in runtimeMinutes, genres, startYear columns
basics = basics.dropna(subset=['runtimeMinutes', 'genres', 'startYear'])

In [18]:
#Keep only movies where titleType==Movie
basics = basics.loc[basics['titleType'] == 'movie']

In [19]:
# Replace startYear '\\N' with NaN
basics['startYear'] = pd.to_numeric(basics['startYear'], errors='coerce')

In [20]:
#Convert the startYear column to float data type
basics['startYear'] = basics['startYear'].astype(float)

In [21]:
#Filter the dataframe using startYear. Keep years between 2000-2021
basics = basics[basics["startYear"]>= 2000]

In [22]:
#Filter the dataframe using startYear. Keep years between 2000-2021
basics = basics[basics["startYear"]<= 2021]

In [23]:
#Eliminate movies that include "Documentary" in the genre
is_documentary = basics['genres'].str.contains('documentary',case=False)
basics = basics[~is_documentary]

In [24]:
# Include the US by using the filter akas dataframe
ratings_keepers =ratings['tconst'].isin(akas['titleId'])
ratings = ratings[ratings_keepers]

# Modified Datasets

In [25]:
# View modified basics dataset
basics.info()

<class 'pandas.core.frame.DataFrame'>
Index: 81885 entries, 34800 to 10122511
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   tconst          81885 non-null  object
 1   titleType       81885 non-null  object
 2   primaryTitle    81884 non-null  object
 3   originalTitle   81884 non-null  object
 4   isAdult         81885 non-null  object
 5   startYear       81885 non-null  float64
 6   endYear         0 non-null      object
 7   runtimeMinutes  81885 non-null  object
 8   genres          81885 non-null  object
dtypes: float64(1), object(8)
memory usage: 6.2+ MB

In [26]:
# Calculate null value sums and row counts for original dataset
null_counts_basics2 = basics2.isna().sum()
row_count_basics2 = len(basics2)

# Calculate null value sums and row counts for modified dataset
null_counts_basics = basics.isna().sum()
row_count_basics = len(basics)

# Calculate the differences
null_count_diff = null_counts_basics2 - null_counts_basics
row_count_diff = row_count_basics2 - row_count_basics

# Print out the differences
print("There were {} null values modified and {} rows eliminated from the original dataset.".format(
    null_count_diff.sum(), row_count_diff))

There were -81836 null values modified and 10040860 rows eliminated from the original dataset.

In [27]:
# View modified akas dataset
akas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1452564 entries, 0 to 1452563
Data columns (total 8 columns):
 #   Column           Non-Null Count    Dtype
---  ------           --------------    -----
 0   titleId          1452564 non-null  object
 1   ordering         1452564 non-null  int64
 2   title            1452562 non-null  object
 3   region           1452564 non-null  object
 4   language         4018 non-null     object
 5   types            981678 non-null   object
 6   attributes       47016 non-null    object
 7   isOriginalTitle  1451222 non-null  object
dtypes: int64(1), object(7)
memory usage: 88.7+ MB

In [28]:
# Calculate null value sums and row counts for original dataset
null_counts_akas2 = akas2.isna().sum()
row_count_akas2 = len(akas2)

# Calculate null value sums and row counts for modified dataset
null_counts_akas = akas.isna().sum()
row_count_akas = len(akas)

# Calculate the differences
null_count_diff_akas = null_counts_akas - null_counts_akas2
row_count_diff_akas = row_count_akas2 - row_count_akas

# Print out the differences
print("There were {} null values modified and {} rows eliminated from the original dataset.".format(
    null_count_diff_akas.sum(), row_count_diff_akas))

There were 3326322 null values modified and 0 rows eliminated from the original dataset.

In [29]:
# View modified ratings dataset
ratings.info()

<class 'pandas.core.frame.DataFrame'>
Index: 505588 entries, 0 to 1343691
Data columns (total 3 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   tconst         505588 non-null  object
 1   averageRating  505588 non-null  float64
 2   numVotes       505588 non-null  int64
dtypes: float64(1), int64(1), object(1)
memory usage: 15.4+ MB

In [30]:
# Calculate null value sums and row counts for original dataset
null_counts_ratings2 = ratings2.isna().sum()
row_count_ratings2 = len(ratings2)

# Calculate null value sums and row counts for modified dataset
null_counts_ratings = ratings.isna().sum()
row_count_ratings = len(ratings)

# Calculate the differences
null_count_diff_ratings = null_counts_ratings - null_counts_ratings2
row_count_diff_ratings = row_count_ratings2 - row_count_ratings

# Print out the differences
print("There were {} null values modified and {} rows eliminated from the original dataset.".format(
    null_count_diff_ratings.sum(), row_count_diff_ratings))

There were 0 null values modified and 838127 rows eliminated from the original dataset.

# Save Cleaned Datasets

In [31]:
# Define the path to the "Data/" folder inside your repository
data_folder = "Data/"

# Save each DataFrame to a compressed CSV file
basics.to_csv(data_folder + "basics_compressed_cleaned.csv.gz", compression="gzip", index=False)
akas.to_csv(data_folder + "akas_compressed_cleaned.csv.gz", compression="gzip", index=False)
ratings.to_csv(data_folder + "ratings_compressed_cleaned.csv.gz", compression="gzip", index=False)

print("DataFrames saved to compressed CSV files.")

DataFrames saved to compressed CSV files.

# IMDB API CALLS

In [32]:
# Install tmdbsimple package
!pip install tmdbsimple

Requirement already satisfied: tmdbsimple in c:\users\admin\anaconda3\envs\dojo-env\lib\site-packages (2.9.1)
Requirement already satisfied: requests in c:\users\admin\anaconda3\envs\dojo-env\lib\site-packages (from tmdbsimple) (2.31.0)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\admin\anaconda3\envs\dojo-env\lib\site-packages (from requests->tmdbsimple) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\users\admin\anaconda3\envs\dojo-env\lib\site-packages (from requests->tmdbsimple) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\admin\anaconda3\envs\dojo-env\lib\site-packages (from requests->tmdbsimple) (1.26.13)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\admin\anaconda3\envs\dojo-env\lib\site-packages (from requests->tmdbsimple) (2022.9.24)

In [33]:
# Loading saved API credentials
import json
with open('/Users/admin/.secret/imdb_api.json', 'r') as f:
    login = json.load(f)
## Display the keys of the loaded dict
login.keys()

dict_keys(['api_token', 'api-key'])

In [34]:
# Save login credentials
import tmdbsimple as tmdb
tmdb.API_KEY =  login['api-key']

In [35]:
## make a movie object using the .Movies function from tmdb for movie_id 603
movie = tmdb.Movies(603)
# View movie output
movie

In [36]:
# View info on Movie Dictionary for 
info = movie.info()
info

{'adult': False,
 'backdrop_path': '/oMsxZEvz9a708d49b6UdZK1KAo5.jpg',
 'belongs_to_collection': {'id': 2344,
  'name': 'The Matrix Collection',
  'poster_path': '/bV9qTVHTVf0gkW0j7p7M0ILD4pG.jpg',
  'backdrop_path': '/bRm2DEgUiYciDw3myHuYFInD7la.jpg'},
 'budget': 63000000,
 'genres': [{'id': 28, 'name': 'Action'},
  {'id': 878, 'name': 'Science Fiction'}],
 'homepage': 'http://www.warnerbros.com/matrix',
 'id': 603,
 'imdb_id': 'tt0133093',
 'original_language': 'en',
 'original_title': 'The Matrix',
 'overview': 'Set in the 22nd century, The Matrix tells the story of a computer hacker who joins a group of underground insurgents fighting the vast and powerful computers who now rule the earth.',
 'popularity': 70.166,
 'poster_path': '/f89U3ADr1oiB1s9GkdPOEpXUk5H.jpg',
 'production_companies': [{'id': 79,
   'logo_path': '/tpFpsqbleCzEE2p5EgvUq6ozfCA.png',
   'name': 'Village Roadshow Pictures',
   'origin_country': 'US'},
  {'id': 372,
   'logo_path': None,
   'name': 'Groucho II Film Partnership',
   'origin_country': ''},
  {'id': 1885,
   'logo_path': '/xlvoOZr4s1PygosrwZyolIFe5xs.png',
   'name': 'Silver Pictures',
   'origin_country': 'US'},
  {'id': 174,
   'logo_path': '/IuAlhI9eVC9Z8UQWOIDdWRKSEJ.png',
   'name': 'Warner Bros. Pictures',
   'origin_country': 'US'}],
 'production_countries': [{'iso_3166_1': 'US',
   'name': 'United States of America'}],
 'release_date': '1999-03-30',
 'revenue': 463517383,
 'runtime': 136,
 'spoken_languages': [{'english_name': 'English',
   'iso_639_1': 'en',
   'name': 'English'}],
 'status': 'Released',
 'tagline': 'Welcome to the Real World.',
 'title': 'The Matrix',
 'video': False,
 'vote_average': 8.206,
 'vote_count': 23695}

In [37]:
# View budget for movie_id = 603
info['budget']

63000000

In [38]:
# View Revenue for movie_id = 603
info['revenue']

463517383

In [39]:
# View certification information for movie_id = 603
releases = movie.releases()
releases

{'id': 603,
 'countries': [{'certification': '',
   'descriptors': [],
   'iso_3166_1': 'NO',
   'primary': False,
   'release_date': '1999-07-07'},
  {'certification': 'M/12',
   'descriptors': [],
   'iso_3166_1': 'PT',
   'primary': False,
   'release_date': '1999-06-09'},
  {'certification': 'R',
   'descriptors': [],
   'iso_3166_1': 'US',
   'primary': False,
   'release_date': '1999-03-24'},
  {'certification': '',
   'descriptors': [],
   'iso_3166_1': 'FI',
   'primary': False,
   'release_date': '1999-06-05'},
  {'certification': '',
   'descriptors': [],
   'iso_3166_1': 'TH',
   'primary': False,
   'release_date': '2021-09-03'},
  {'certification': '15',
   'descriptors': [],
   'iso_3166_1': 'GB',
   'primary': False,
   'release_date': '1999-06-11'},
  {'certification': 'PG-12',
   'descriptors': [],
   'iso_3166_1': 'JP',
   'primary': False,
   'release_date': '1999-09-11'},
  {'certification': '12',
   'descriptors': [],
   'iso_3166_1': 'NL',
   'primary': False,
   'release_date': '1999-06-17'},
  {'certification': 'R',
   'descriptors': [],
   'iso_3166_1': 'US',
   'primary': False,
   'release_date': '1999-03-30'},
  {'certification': 'K-16',
   'descriptors': [],
   'iso_3166_1': 'FI',
   'primary': False,
   'release_date': '1999-07-09'},
  {'certification': 'K-8 ',
   'descriptors': [],
   'iso_3166_1': 'GR',
   'primary': False,
   'release_date': '1999-08-20'},
  {'certification': '12',
   'descriptors': [],
   'iso_3166_1': 'BR',
   'primary': False,
   'release_date': '1999-05-21'},
  {'certification': '12',
   'descriptors': [],
   'iso_3166_1': 'KR',
   'primary': False,
   'release_date': '1999-05-15'},
  {'certification': 'T',
   'descriptors': [],
   'iso_3166_1': 'IT',
   'primary': False,
   'release_date': '1999-05-07'},
  {'certification': 'M',
   'descriptors': [],
   'iso_3166_1': 'AU',
   'primary': False,
   'release_date': '1999-04-08'},
  {'certification': '15',
   'descriptors': [],
   'iso_3166_1': 'NO',
   'primary': False,
   'release_date': '1999-07-09'},
  {'certification': '14A',
   'descriptors': [],
   'iso_3166_1': 'CA',
   'primary': False,
   'release_date': '1999-03-30'},
  {'certification': '15',
   'descriptors': [],
   'iso_3166_1': 'DK',
   'primary': False,
   'release_date': '1999-05-07'},
  {'certification': '12',
   'descriptors': [],
   'iso_3166_1': 'CZ',
   'primary': False,
   'release_date': '1999-08-05'},
  {'certification': '16',
   'descriptors': [],
   'iso_3166_1': 'HU',
   'primary': False,
   'release_date': '1999-08-05'},
  {'certification': 'C',
   'descriptors': [],
   'iso_3166_1': 'BG',
   'primary': False,
   'release_date': '1999-09-03'},
  {'certification': '16',
   'descriptors': [],
   'iso_3166_1': 'DE',
   'primary': False,
   'release_date': '1999-06-17'},
  {'certification': 'U',
   'descriptors': [],
   'iso_3166_1': 'FR',
   'primary': False,
   'release_date': '1999-06-23'},
  {'certification': '18',
   'descriptors': [],
   'iso_3166_1': 'ES',
   'primary': False,
   'release_date': '1999-06-25'},
  {'certification': '',
   'descriptors': [],
   'iso_3166_1': 'TR',
   'primary': False,
   'release_date': '1999-09-03'},
  {'certification': '15',
   'descriptors': [],
   'iso_3166_1': 'SE',
   'primary': False,
   'release_date': '1999-07-14'},
  {'certification': 'KT/EA ',
   'descriptors': [],
   'iso_3166_1': 'BE',
   'primary': False,
   'release_date': '1999-07-07'},
  {'certification': '13',
   'descriptors': [],
   'iso_3166_1': 'AR',
   'primary': False,
   'release_date': '1999-06-10'},
  {'certification': 'G',
   'descriptors': [],
   'iso_3166_1': 'TH',
   'primary': False,
   'release_date': '1999-05-21'},
  {'certification': '',
   'descriptors': [],
   'iso_3166_1': 'EE',
   'primary': False,
   'release_date': '1999-07-16'},
  {'certification': '',
   'descriptors': [],
   'iso_3166_1': 'PL',
   'primary': False,
   'release_date': '1999-08-13'},
  {'certification': 'M/12',
   'descriptors': [],
   'iso_3166_1': 'PT',
   'primary': False,
   'release_date': '1999-06-25'},
  {'certification': '',
   'descriptors': [],
   'iso_3166_1': 'HR',
   'primary': False,
   'release_date': '1999-08-26'},
  {'certification': '16',
   'descriptors': [],
   'iso_3166_1': 'IS',
   'primary': False,
   'release_date': '1999-06-25'},
  {'certification': 'M',
   'descriptors': [],
   'iso_3166_1': 'NZ',
   'primary': False,
   'release_date': '1999-04-08'},
  {'certification': '',
   'descriptors': [],
   'iso_3166_1': 'SI',
   'primary': False,
   'release_date': '1999-08-19'},
  {'certification': 'PG-12',
   'descriptors': [],
   'iso_3166_1': 'TW',
   'primary': False,
   'release_date': '1999-06-04'},
  {'certification': '',
   'descriptors': [],
   'iso_3166_1': 'PH',
   'primary': False,
   'release_date': '1999-05-26'},
  {'certification': '',
   'descriptors': [],
   'iso_3166_1': 'RO',
   'primary': False,
   'release_date': '1999-09-10'},
  {'certification': '12',
   'descriptors': [],
   'iso_3166_1': 'CH',
   'primary': False,
   'release_date': '1999-06-18'},
  {'certification': '15',
   'descriptors': [],
   'iso_3166_1': 'IE',
   'primary': False,
   'release_date': '1999-06-11'},
  {'certification': 'PG',
   'descriptors': [],
   'iso_3166_1': 'IL',
   'primary': False,
   'release_date': '1999-06-24'},
  {'certification': '',
   'descriptors': [],
   'iso_3166_1': 'KW',
   'primary': False,
   'release_date': '1999-06-09'},
  {'certification': '18SG',
   'descriptors': [],
   'iso_3166_1': 'MY',
   'primary': False,
   'release_date': '1999-05-06'},
  {'certification': '12',
   'descriptors': [],
   'iso_3166_1': 'CH',
   'primary': False,
   'release_date': '1999-06-23'},
  {'certification': '16+',
   'descriptors': [],
   'iso_3166_1': 'RU',
   'primary': False,
   'release_date': '1999-10-14'},
  {'certification': '',
   'descriptors': [],
   'iso_3166_1': 'CO',
   'primary': False,
   'release_date': '1999-05-21'},
  {'certification': '',
   'descriptors': [],
   'iso_3166_1': 'ID',
   'primary': False,
   'release_date': '1999-07-03'},
  {'certification': 'B',
   'descriptors': [],
   'iso_3166_1': 'MX',
   'primary': False,
   'release_date': '1999-05-21'},
  {'certification': '',
   'descriptors': [],
   'iso_3166_1': 'UY',
   'primary': False,
   'release_date': '1999-07-30'},
  {'certification': '',
   'descriptors': [],
   'iso_3166_1': 'SK',
   'primary': False,
   'release_date': '1999-08-05'},
  {'certification': 'PG',
   'descriptors': [],
   'iso_3166_1': 'SG',
   'primary': False,
   'release_date': '1999-04-22'},
  {'certification': '16',
   'descriptors': [],
   'iso_3166_1': 'UA',
   'primary': False,
   'release_date': '2019-07-25'},
  {'certification': '12',
   'descriptors': [],
   'iso_3166_1': 'KR',
   'primary': False,
   'release_date': '2019-09-25'},
  {'certification': '16+',
   'descriptors': [],
   'iso_3166_1': 'RU',
   'primary': False,
   'release_date': '2019-10-14'},
  {'certification': 'IIB',
   'descriptors': [],
   'iso_3166_1': 'HK',
   'primary': False,
   'release_date': '1999-05-20'},
  {'certification': '15',
   'descriptors': [],
   'iso_3166_1': 'GB',
   'primary': False,
   'release_date': '2021-12-03'},
  {'certification': 'PG13',
   'descriptors': [],
   'iso_3166_1': 'SG',
   'primary': False,
   'release_date': '2021-12-02'},
  {'certification': '',
   'descriptors': [],
   'iso_3166_1': 'CN',
   'primary': False,
   'release_date': '2000-01-14'},
  {'certification': '',
   'descriptors': [],
   'iso_3166_1': 'KZ',
   'primary': False,
   'release_date': '2021-12-09'},
  {'certification': 'U',
   'descriptors': [],
   'iso_3166_1': 'FR',
   'primary': False,
   'release_date': '1999-09-21'},
  {'certification': '15',
   'descriptors': [],
   'iso_3166_1': 'SE',
   'primary': False,
   'release_date': '1999-12-14'},
  {'certification': '15',
   'descriptors': [],
   'iso_3166_1': 'SE',
   'primary': False,
   'release_date': '2008-11-26'},
  {'certification': '15',
   'descriptors': [],
   'iso_3166_1': 'SE',
   'primary': False,
   'release_date': '2018-05-28'},
  {'certification': '12',
   'descriptors': [],
   'iso_3166_1': 'NL',
   'primary': False,
   'release_date': '2004-12-22'},
  {'certification': '12',
   'descriptors': [],
   'iso_3166_1': 'NL',
   'primary': False,
   'release_date': '2011-01-12'},
  {'certification': '12',
   'descriptors': [],
   'iso_3166_1': 'BR',
   'primary': False,
   'release_date': '2008-10-14'},
  {'certification': '16+',
   'descriptors': [],
   'iso_3166_1': 'RU',
   'primary': False,
   'release_date': '2009-01-27'},
  {'certification': '16+',
   'descriptors': [],
   'iso_3166_1': 'RU',
   'primary': False,
   'release_date': '2000-09-12'},
  {'certification': '16',
   'descriptors': [],
   'iso_3166_1': 'DE',
   'primary': False,
   'release_date': '1999-11-25'},
  {'certification': '12',
   'descriptors': [],
   'iso_3166_1': 'NL',
   'primary': False,
   'release_date': '2002-09-23'}]}

In [40]:
# Loop for retrieveing certification info for US released movies
for c in releases['countries']:
    if c['iso_3166_1']=='US':
        print(c['certification'])

R
R

In [41]:
# Get the movie object for the current id
movie = tmdb.Movies('tt1361336')
# save the .info .releases dictionaries
info = movie.info()
releases = movie.releases()
# Loop through countries in releases
for c in releases['countries']:
    # if the country abbreviation==US
    if c['iso_3166_1' ] =='US':
        ## save a "certification" key in the info dict with the certification
       info['certification'] = c['certification']

In [42]:
def get_movie_with_rating(movie_id):
    # Get movie object for the current id
    movie= tmdb.Movies(movie_id)
    
    # Save the .info .releases dictionaries
    info = movie.info()
    releases = movie.releases()
    
    # Loop through the countires in releases
    for c in releases['countries']:
        # if the country abbreviation==US
        if c['iso_3166_1']=='US':
            # save a certificaition key in info with the certification
            info['certification']= c['certification']
    return info

In [43]:
# Test get_movie_with_rating function created above
test = get_movie_with_rating("tt0848228") 
test

{'adult': False,
 'backdrop_path': '/9BBTo63ANSmhC4e6r62OJFuK2GL.jpg',
 'belongs_to_collection': {'id': 86311,
  'name': 'The Avengers Collection',
  'poster_path': '/yFSIUVTCvgYrpalUktulvk3Gi5Y.jpg',
  'backdrop_path': '/zuW6fOiusv4X9nnW3paHGfXcSll.jpg'},
 'budget': 220000000,
 'genres': [{'id': 878, 'name': 'Science Fiction'},
  {'id': 28, 'name': 'Action'},
  {'id': 12, 'name': 'Adventure'}],
 'homepage': 'https://www.marvel.com/movies/the-avengers',
 'id': 24428,
 'imdb_id': 'tt0848228',
 'original_language': 'en',
 'original_title': 'The Avengers',
 'overview': 'When an unexpected enemy emerges and threatens global safety and security, Nick Fury, director of the international peacekeeping agency known as S.H.I.E.L.D., finds himself in need of a team to pull the world back from the brink of disaster. Spanning the globe, a daring recruitment effort begins!',
 'popularity': 104.51,
 'poster_path': '/RYMX2wcKCBAr24UyPD7xwmjaTn.jpg',
 'production_companies': [{'id': 420,
   'logo_path': '/hUzeosd33nzE5MCNsZxCGEKTXaQ.png',
   'name': 'Marvel Studios',
   'origin_country': 'US'}],
 'production_countries': [{'iso_3166_1': 'US',
   'name': 'United States of America'}],
 'release_date': '2012-04-25',
 'revenue': 1518815515,
 'runtime': 143,
 'spoken_languages': [{'english_name': 'English',
   'iso_639_1': 'en',
   'name': 'English'},
  {'english_name': 'Hindi', 'iso_639_1': 'hi', 'name': 'हिन्दी'},
  {'english_name': 'Russian', 'iso_639_1': 'ru', 'name': 'Pусский'}],
 'status': 'Released',
 'tagline': 'Some assembly required.',
 'title': 'The Avengers',
 'video': False,
 'vote_average': 7.711,
 'vote_count': 29056,
 'certification': 'PG-13'}

In [44]:
## testing our function by looping through a list of ids
import pandas as pd
test_ids = ["tt0848228", "tt0115937","tt0848228","tt0332280"]
results = []
errors = []
for movie_id in test_ids:
    
    try:
        movie_info = get_movie_with_rating(movie_id)
        results.append(movie_info)
        
# Creating a list of errors that were passed over        
    except Exception as e: 
        errors.append([movie_id, e])
    
pd.DataFrame(results)

,adult,backdrop_path,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,...,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,certification
0,False,/9BBTo63ANSmhC4e6r62OJFuK2GL.jpg,"{'id': 86311, 'name': 'The Avengers Collection...",220000000,"[{'id': 878, 'name': 'Science Fiction'}, {'id'...",https://www.marvel.com/movies/the-avengers,24428,tt0848228,en,The Avengers,...,1518815515,143,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Some assembly required.,The Avengers,False,7.711,29056,PG-13
1,False,/9BBTo63ANSmhC4e6r62OJFuK2GL.jpg,"{'id': 86311, 'name': 'The Avengers Collection...",220000000,"[{'id': 878, 'name': 'Science Fiction'}, {'id'...",https://www.marvel.com/movies/the-avengers,24428,tt0848228,en,The Avengers,...,1518815515,143,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Some assembly required.,The Avengers,False,7.711,29056,PG-13
2,False,/qom1SZSENdmHFNZBXbtJAU0WTlC.jpg,None,29000000,"[{'id': 10749, 'name': 'Romance'}, {'id': 18, ...",http://www.newline.com/properties/notebookthe....,11036,tt0332280,en,The Notebook,...,115603229,123,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Behind every great love is a great story.,The Notebook,False,7.881,10540,PG-13

In [45]:
print(f"- Number of errors: {len(errors)}")
errors

- Number of errors: 1

[['tt0115937',
  requests.exceptions.HTTPError('404 Client Error: Not Found for url: https://api.themoviedb.org/3/movie/tt0115937?api_key=db05069c45d63ca461c600eff34998b5')]]

## Building loop to compile movie info

In [46]:
import os, time, json
from tqdm.notebook import tqdm_notebook
FOLDER = "Data/"
os.makedirs(FOLDER, exist_ok=True)
os.listdir(FOLDER)

['.ipynb_checkpoints',
 'akas_compressed.csv.gz',
 'akas_compressed_cleaned.csv.gz',
 'basics_compressed.csv.gz',
 'basics_compressed_cleaned.csv.gz',
 'Exploratory Data Analysis Years 2000 and 2001.ipynb',
 'ratings_compressed.csv.gz',
 'ratings_compressed_cleaned.csv.gz',
 'title-akas-us-only.csv',
 'title.basics (1).tsv.gz',
 'title.ratings (1).tsv.gz']

In [48]:
# Make API calls for years 2000 and 2001
years_to_get = [2000, 2001]

In [49]:
# Create an emplty list to store errors
errors = [ ]

In [51]:
# Start of OUTER loop
for YEAR in tqdm_notebook(years_to_get, desc='YEARS', position=0):
   
    # Defining the JSON file to store results for year
    JSON_file = f'{FOLDER}tmdb_api_results_{YEAR}.json'

    # Check if file exists
    file_exists = os.path.isfile(JSON_file)
    
    # If it does not exist: create it
    if file_exists == False:
    # save an empty dict with just "imdb_id" to the new json file.
        with open(JSON_file,'w') as f:
            json.dump([{'imdb_id':0}],f)


    #Saving new year as the current df
    df = basics.loc[ basics['startYear']==YEAR].copy()
    # saving movie ids to list
    movie_ids = df['tconst'].copy()



    # Load existing data from json into a dataframe called "previous_df"
    previous_df = pd.read_json(JSON_file)


    # filter out any ids that are already in the JSON_FILE
    movie_ids_to_get = movie_ids[~movie_ids.isin(previous_df['imdb_id'])]
    
        #Get index and movie id from list
    # INNER Loop
    for movie_id in tqdm_notebook(movie_ids_to_get,
                                  desc=f'Movies from {YEAR}',
                                  position=1,
                                  leave=True):
        try:
            # Retrieve then data for the movie id
            temp = get_movie_with_rating(movie_id)  
            # Append/extend results to existing file using a pre-made function
            write_json(temp,JSON_file)
            # Short 20 ms sleep to prevent overwhelming server
            time.sleep(0.02)
            
        except Exception as e:
            errors.append([movie_id, e])
            
    # Save the results
    final_year_df = pd.read_json(JSON_file)
    final_year_df.to_csv(f"{FOLDER}final_tmdb_data_{YEAR}.csv.gz", compression="gzip", index=False)

YEARS:   0%|          | 0/2 [00:00<?, ?it/s]

Movies from 2000:   0%|          | 0/1459 [00:00<?, ?it/s]

Movies from 2001:   0%|          | 0/1577 [00:00<?, ?it/s]

In [ ]:
# Print return of number of movie_ids that caused error
print(f"- Total errors: {len(errors)}")

Confirm Your API Function works.

In order to ensure your function for extracting movie data from TMDB is working, test your function on these 2 movie ids: tt0848228 ("The Avengers") and tt0332280 ("The Notebook"). Make sure that your function runs without error and that it returns the correct movie's data for both test ids.

In [57]:
# Show results for custom function for "The Avengers"
get_movie_with_rating('tt0848228')

{'adult': False,
 'backdrop_path': '/9BBTo63ANSmhC4e6r62OJFuK2GL.jpg',
 'belongs_to_collection': {'id': 86311,
  'name': 'The Avengers Collection',
  'poster_path': '/yFSIUVTCvgYrpalUktulvk3Gi5Y.jpg',
  'backdrop_path': '/zuW6fOiusv4X9nnW3paHGfXcSll.jpg'},
 'budget': 220000000,
 'genres': [{'id': 878, 'name': 'Science Fiction'},
  {'id': 28, 'name': 'Action'},
  {'id': 12, 'name': 'Adventure'}],
 'homepage': 'https://www.marvel.com/movies/the-avengers',
 'id': 24428,
 'imdb_id': 'tt0848228',
 'original_language': 'en',
 'original_title': 'The Avengers',
 'overview': 'When an unexpected enemy emerges and threatens global safety and security, Nick Fury, director of the international peacekeeping agency known as S.H.I.E.L.D., finds himself in need of a team to pull the world back from the brink of disaster. Spanning the globe, a daring recruitment effort begins!',
 'popularity': 104.51,
 'poster_path': '/RYMX2wcKCBAr24UyPD7xwmjaTn.jpg',
 'production_companies': [{'id': 420,
   'logo_path': '/hUzeosd33nzE5MCNsZxCGEKTXaQ.png',
   'name': 'Marvel Studios',
   'origin_country': 'US'}],
 'production_countries': [{'iso_3166_1': 'US',
   'name': 'United States of America'}],
 'release_date': '2012-04-25',
 'revenue': 1518815515,
 'runtime': 143,
 'spoken_languages': [{'english_name': 'English',
   'iso_639_1': 'en',
   'name': 'English'},
  {'english_name': 'Hindi', 'iso_639_1': 'hi', 'name': 'हिन्दी'},
  {'english_name': 'Russian', 'iso_639_1': 'ru', 'name': 'Pусский'}],
 'status': 'Released',
 'tagline': 'Some assembly required.',
 'title': 'The Avengers',
 'video': False,
 'vote_average': 7.711,
 'vote_count': 29056,
 'certification': 'PG-13'}

In [56]:
# Show results for custom function for "The Notebook"
get_movie_with_rating('tt0332280')

{'adult': False,
 'backdrop_path': '/qom1SZSENdmHFNZBXbtJAU0WTlC.jpg',
 'belongs_to_collection': None,
 'budget': 29000000,
 'genres': [{'id': 10749, 'name': 'Romance'}, {'id': 18, 'name': 'Drama'}],
 'homepage': 'http://www.newline.com/properties/notebookthe.html',
 'id': 11036,
 'imdb_id': 'tt0332280',
 'original_language': 'en',
 'original_title': 'The Notebook',
 'overview': "An epic love story centered around an older man who reads aloud to a woman with Alzheimer's. From a faded notebook, the old man's words bring to life the story about a couple who is separated by World War II, and is then passionately reunited, seven years later, after they have taken different paths.",
 'popularity': 49.467,
 'poster_path': '/rNzQyW4f8B8cQeg7Dgj3n6eT5k9.jpg',
 'production_companies': [{'id': 12,
   'logo_path': '/5ThIuO93vsk47oexKTSdfKEr7EC.png',
   'name': 'New Line Cinema',
   'origin_country': 'US'},
  {'id': 1565, 'logo_path': None, 'name': 'Avery Pix', 'origin_country': 'US'},
  {'id': 2605,
   'logo_path': None,
   'name': 'Gran Via Productions',
   'origin_country': 'US'}],
 'production_countries': [{'iso_3166_1': 'US',
   'name': 'United States of America'}],
 'release_date': '2004-06-25',
 'revenue': 115603229,
 'runtime': 123,
 'spoken_languages': [{'english_name': 'English',
   'iso_639_1': 'en',
   'name': 'English'}],
 'status': 'Released',
 'tagline': 'Behind every great love is a great story.',
 'title': 'The Notebook',
 'video': False,
 'vote_average': 7.881,
 'vote_count': 10540,
 'certification': 'PG-13'}